<!--<div class="container">-->
  <!--<nav>-->
    <!--<ul>-->
      <!--<li><a>Home</a></li>-->
      <!--<li><a>Taco Menu</a></li>-->
      <!--<li><a>Draft List</a></li>-->
      <!--<li><a>Hours</a></li>-->
      <!--<li><a>Directions</a></li>-->
      <!--<li><a>Contact</a></li>-->
    <!--</ul>-->
  <!--</nav>-->
  <!--<div>-->
    <!--<section>-->
      <!--<p><mark>section</mark> 的 <mark>margin-left</mark>样式确保了有足够的空间容纳 <mark>nav</mark>  元素</p>-->
    <!--</section>-->
    <!--<section style="background-color: lightgrey">-->
      <!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda consequuntur est, nisi possimus praesentium-->
        <!--quis sit tempore. Ad aut autem beatae consequatur ducimus eum eveniet ipsam, laboriosam ut voluptatem? Porro!</p>-->
    <!--</section>-->
    <!--<section>-->
      <!--<p>注意观察当你调整浏览器窗口时放生了什么。效果很赞！</p>-->
    <!--</section>-->
  <!--</div>-->
<!--</div>-->



<div class="fixed">
  <div id="window">
    <form >
      <input type="text" name="username" placeholder="username" style="background-color: #f2f2f2"><br><br>
      <input type="text" name="password" placeholder="password" style="background-color: #f2f2f2"><br><br>
      <input type="submit" value="LOGIN" id="login"><br>
    </form>
    <div style="margin-top: 10px">
      <p style="color: #b3b3b3">Not registered? <a style="color: green">Create an account</a></p>
    </div>
  </div>
</div>

